<!DOCTYPE html>
<html lang="te">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>పోలిటిషియన్ వెబ్ పేజీ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>OFFICAL PAGE OF KOTHAPETA MLA</h1>
        <img src="static/politician.jpg" alt="Politician Photo">
        <h2 id="politician-name">చిర్ల జగ్గీ రెడ్డి</h2>
        <h3 id="Designation">ఎమ్మెల్యే, ప్రభుత్వ విప్ (ఆంధ్రప్రదేశ్ అసెంబ్లీ)</h3>
        <h3 id="party">YSRCP</h3>
        <h2>మీరు ఇందులో తెలియజేసిన  సమస్యలు మీరుగా ఎమ్మెల్యే  ఆఫీస్ నుండి పరిష్కారం చూపబడతాయి:</h2>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5_H943bTbnt5QlevjS80r7mti45YHnqceIcu672_nuzIIwg/viewform?embedded=true" width="640" height="554" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>    </div>
</body>
</html>
